

        <!-- pagina inicial-->
        <header class="masthead">
            <!--  <div class="container d-flex h-100 align-items-center">
                  <div class="mx-auto text-center">
                      <h1 class="mx-auto my-0 text-uppercase">Sense</h1>
                      <h2 class="text-white-50 mx-auto mt-2 mb-5">Coloque seus sentimentos e emoções em ação!</h2>
                     <a class="btn btn-primary js-scroll-trigger" href="#about">Confira nossas promoções</a>
                  </div>
              </div>-->
  
          <div id="containerSlide">
              <ul id="slides">
                <li class="slide">
                    <div class="slide-partial slide-left">
                      <img class="responsive-slide-gallery" src="assets/bg/7_animals_right.jpg"/>
                    </div>
                    <div class="slide-partial slide-right">
                      <img class="responsive-slide-gallery" src="assets/bg/7_animals_left.jpg"/>
                    </div>
                    <h1 style="max-width:100%;height:auto;" class="centered-text">Sense</h1>
                </li>
  
                <li class="slide">
                  <div class="slide-partial slide-right">
                    <img class="responsive-slide-gallery" src="assets/bg/1_car_left.jpg"/>
                  </div>
                  <div class="slide-partial slide-left">
                    <img class="responsive-slide-gallery" src="assets/bg/1_car_right.jpg"/>
                  </div>
                  <h1 class="centered-text">Sense</h1>
                </li>
  
                <li class="slide">
                  <div class="slide-partial slide-left">
                    <img class="responsive-slide-gallery" src="assets/bg/2_buildings_left.jpg"/>
                  </div>
                  <div class="slide-partial slide-right">
                    <img class="responsive-slide-gallery" src="assets/bg/2_buildings_right.jpg"/>
                  </div>
                    <h1 class="centered-text">Sense</h1>
                </li>
  
                <li class="slide">
                  <div class="slide-partial slide-left">
                    <img class="responsive-slide-gallery" src="assets/bg/4_animals_left.jpg"/>
                  </div>
                  <div class="slide-partial slide-right">
                    <img class="responsive-slide-gallery" src="assets/bg/4_animals_right.jpg"/>
                  </div>
                  <h1 class="centered-text">Sense</h1>
                </li>
  
                <li class="slide">
                  <div class="slide-partial slide-right">
                    <img class="responsive-slide-gallery" src="assets/bg/10_buildings_right.jpg"/>
                  </div>
                  <div class="slide-partial slide-left">
                    <img class="responsive-slide-gallery" src="assets/bg/10_buildings_left.jpg"/>
                  </div>
  
                    <h1 class="centered-text">Sense</h1>
                </li>
            </ul>
            <ul id="slide-select">
                <li class="selector"></li>
                <li class="selector"></li>
                <li class="selector"></li>
                <li class="selector"></li>
                <li class="selector"></li>
            </ul>
        </div>
          </header>