          <!--Sobre-->
          <section class="projects-section bg-light" id="sobre">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl col-lg">
                        <div class="featured-text1 text-lg-left tab">
                            <h4>Sobre a marca</h4>
                            <p class="text-black-50 mb-0" align= "justify">
                              A Sense surgiu através de uma demanda pessoal minha. Há muito eu buscava quadros que tivessem algum sentido, alguma história e que combinassem com a minha personalidade para compor algumas paredes da minha casa. Porém, não obtive muito sucesso nessa busca. A maioria das lojas vendiam os mesmos quadros, quase como algo em série. Não era isso que eu queria para mim.</p><p></p>
                            <p class="text-black-50 mb-0" align= "justify">
                              Para fugir disso fui em busca das galerias de arte, procurando algo mais íntimo e com mais sentido. Encontrei peças exclusivas, de alta qualidade, porém com o preço condizente com obras de arte. O que seria perfeito, se eu pudesse pagar por elas.</p><p></p>
                            <p class="text-black-50 mb-0" align= "justify">
                              Resolvi, então, criar os meus próprios quadros: com sentido, com bom gosto, com qualidade e preço justo. E ficaram realmente muito bons! Eu olhava para a parede e via peças que combinavam comigo, com meu estilo e com as coisas que eu gostava.</p><p></p>
                            <p class="text-black-50 mb-0" align= "justify">
                              E então pensei: por que não levar isso às pessoas? Ali nasceu a SENSE Quadros! Ela reúne a minha paixão pessoal por arte, fotografia e uma decoração mais afetiva, voltada ao dono do ambiente e não somente à moda.</p><p></p>
                            <p class="text-black-50 mb-0" align= "justify">
                              Espero que o nosso quadro preencha a sua casa e também o seu coração!</p><p></p>
                              <p class="text-black-50 text-right">
                                Carolina Galdino</p><p></p>
                              <p class="text-black-50 text-right">
                                Proprietária e idealizadora da  marca</p>
                        </div>
                  </div>

                  <div class="col-xl-6 col-lg">

                    <div class="container1">
                      <div class="box1">
                        <img class="image-1" src="assets/bg/1_car_right.jpg">
                      </div>
                      <div class="box1">
                        <img class="image-1" src="assets/bg/1_car_left.jpg">
                      </div>
                      <div class="box1">
                        <img class="image-1" src="assets/bg/3_bridge_left.png">
                      </div>
                      <div class="box1">
                        <img  class="image-1"src="assets/bg/3_bridge_right.png">
                      </div>
                    </div>

                    <div class="container1">
                      <div class="box1">
                        <img class="image-1" src="assets/bg/5_lake_right.jpg">
                      </div>
                      <div class="box1">
                        <img class="image-1" src="assets/bg/5_lake_left.jpg">
                      </div>
                      <div class="box1">
                        <img class="image-1" src="assets/bg/6_hardrock_left.jpg">
                      </div>
                      <div class="box1">
                        <img class="image-1" src="assets/bg/6_hardrock_right.jpg">
                      </div>
                    </div>

                    <div class="container1">
                  <div class="box1">
                    <img class="image-1" src="assets/bg/7_animals_right.jpg">
                  </div>
                  <div class="box1">
                    <img class="image-1" src="assets/bg/7_animals_left.jpg">
                  </div>
                  <div class="box1">
                    <img class="image-1" src="assets/bg/9_mountains_left.jpg">
                  </div>
                  <div class="box1">
                    <img class="image-1" src="assets/bg/9_mountains_right.jpg">
                  </div>
                  </div>

                  </div>
      <!--            <div class="col-xl-6 col-lg">
                    <img class="img-fluid1 mb-5 mb-lg-5" src="assets/img/sense.png" alt=""/>
                  </div> -->

                </div>

                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                  <div class="col-xl-6 col-auto">
                    <img class="img-fluid mb mb-lg" src="https://i.ibb.co/3Mq70h5/sense.png" alt=""/>
                  </div>
                  <div class="col-xl col-lg">
                    <div class="featured-text text-lg-left tab">
                        <h4>Sobre o nome</h4>
                        <p class="text-black-50 mb-0" align= "justify">
                          Quem primeiro nasceu, antes mesmo da ideia da marca, foi o desenho. Ele surgiu a partir de um sonho que eu tive. Nesse sonho, uma mulher muito sábia me ensinava a desenhar um círculo na parede do meu quarto. Ela dizia que eu deveria mergulhar a mão na tinta, inspirar, prender a respiração, desenhar um círculo de uma só vez e depois expirasse. Eu não poderia voltar para corrigir caso não gostasse. Ele era perfeito como estava. Ela me disse que o nome desse círculo era: Círculo de Buda.</p><p></p>
                        <p class="text-black-50 mb-0" align= "justify">
                          Acordei intrigada com o sonho e minha primeira ação foi uma pesquisa sobre o tal círculo. Descobri que ele de fato existia, que a técnica de desenhá-lo era exatamente a que ela havia me ensinado e que o nome dele também era Círculo de Buda, e em Japonês o nome dado era Ensō. Ou seja, meu sonho foi bem real.</p><p></p>
                        <p class="text-black-50 mb-0" align= "justify">
                          Quando tive a ideia da loja, decidi colocar esse símbolo como o desenho da marca, porque era algo único e especial em minha vida. O nome "SENSE", surgiu através do conceito que eu queria que os quadros tivessem. Cada vez que eu tentava explicar a minha ideia para alguém a palavra "sentido", era citada inúmeras vezes. Foi aí que decidi colocar esse nome na marca, mas em inglês, porque achei mais profundo do que em português.</p><p></p>
                        <p class="text-black-50 mb-0" align= "justify">
                          A proposta principal da marca não é só preencher o vazio da parede com um quadro bonito. É fazer com que o dono, toda vez que olhar para aquela obra, reconheça sua personalidade e passe a entender um pouco o sentido de sua própria vida.</p><p></p>
                        <p class="text-black-50 text-right">
                          Carolina Galdino</p><p></p>
                        <p class="text-black-50 text-right">
                          Proprietária e idealizadora da  marca</p>
                    </div>
                </div>
              </div>
            </div>


<!--                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl col-lg">
                      <img class="img-fluid mb-5 mb-lg-7" src="assets/img/bg-masthead.jpg" alt="" /></div>
                    <div class="col-xl col-lg">
                        <div class="featured-text text-lg-left">
                            <h4>Nossos clientes</h4>
                            <p class="text-black-50 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
              </div> -->
        </section>