<section class="contact-section bg-black">
    <div class="container">
        <div class="row">

            <div class="col-md-4 mb-3 mb-md-0 mx-auto">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                      <!-- <h4 class="text-uppercase m-0">Entregamos em todo Brasil</h4>-->
                        <hr class="my-4 centered">
                      <div class="small text-black-50">Frete fixo para <p> região de Brasília - DF</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0 mx-auto">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">E-mail</h4>
                        <hr class="my-4" />
                        <div class="small text-black-50"><a href="#!">quadros.sense@gmail.com</a></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="https://instagram.com/sense.quadros"><i class="fab fa-instagram"></i>
            <a class="mx-2" href="#!"><i class="fab fa-whatsapp"></i></a>
          <!--  <a class="mx-2" href="#!">https://instagram.com/sense.quadros<i class="fab fa-github"></i></a>-->
        </div>
    </div>
</section>