body {
	background: #eee;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

#site-header, #site-footer {
	background: #fff;
}

#site-header {
	margin: 0 0 30px 0;
}

#site-header h1 {
	font-size: 31px;
	font-weight: 300;
	padding: 40px 0;
	text-align: center;
	position: relative;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

a:hover {
	color: #53b5aa;
}

#site-header h1 span {
	color: #53b5aa;
}

#site-header h1 span.last-span {
	background: #fff;
	padding-right: 150px;
	position: absolute;
	left: 217px;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

#site-header h1:hover span.last-span, #site-header h1 span.is-open {
	left: 363px;
}

#site-header h1 em {
	font-size: 16px;
	font-style: normal;
	vertical-align: middle;
}

.container {
	margin: 0 auto;
	width: 760px;
}

#cart {
	width: 100%;
}

#cart h1 {
	font-weight: 300;
}

#cart a {
	color: #53b5aa;
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

#cart a:hover {
	color: #000;
}

.product.removed {
	margin-left: 100px !important;
	opacity: 0;
}

.product {
	border: 1px solid #eee;

	width:110%;
	height: 100px;
	position: relative;
	padding-bottom: 5%;

	-webkit-transition: margin .2s linear, opacity .2s linear;
	-moz-transition: margin .2s linear, opacity .2s linear;
	-ms-transition: margin .2s linear, opacity .2s linear;
	-o-transition: margin .2s linear, opacity .2s linear;
	transition: margin .2s linear, opacity .2s linear;
}

.product img {
	margin: 5px 5px;
	align-content: center;
	width: auto;
	height: auto;
	object-fit: cover;

}

.product header, .product .content {
	background-color: #fff;
	border: 1px solid #ccc;
	border-style: none none solid none;
	float: left;

}

.black-background{
	background: #000;
}
.white-background{
	background: #fff;
}

.product header {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: auto;
	height: auto;
	object-fit: cover;
}

.product header:hover img {
	opacity: .7;
}

.product header:hover h3 {
	bottom: 20px;
}

.product header h3 {
	background: #53b5aa;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 10px;
	position: absolute;
	bottom: -50px;
	right: 0;
	left: 0;
	text-align: center;

	-webkit-transition: bottom .2s linear;
	-moz-transition: bottom .2s linear;
	-ms-transition: bottom .2s linear;
	-o-transition: bottom .2s linear;
	transition: bottom .2s linear;
}

.remove {
	cursor: pointer;
}

.product .content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: auto;
	width: 79%;
}

.product h1 {
	color: #53b5aa;
	font-size: 25px;
	font-weight: 300;
	margin: 17px 0 20px 0;
}

.product footer.content {
	height: 50px;
	margin: 6px 0 0 0;
	padding: 0;
}

.product footer .price {
	background: #fcfcfc;
	color: #000;
	float: right;
	font-size: 15px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
}

.product footer .full-price {
	background: #53b5aa;
	color: #fff;
	float: right;
	font-size: 22px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;

	-webkit-transition: margin .15s linear;
	-moz-transition: margin .15s linear;
	-ms-transition: margin .15s linear;
	-o-transition: margin .15s linear;
	transition: margin .15s linear;
}

.qt, .qt-plus, .qt-minus {
	display: block;
	float: left;
}

.qt {
	font-size: 19px;
	line-height: 50px;
	width: 70px;
	text-align: center;
}

.qt-plus, .qt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 30px;
	font-weight: 300;
	height: 100%;
	padding: 0 20px;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
	background: #53b5aa;
	color: #fff;
	cursor: pointer;
}

.qt-plus {
	line-height: 50px;
}

.qt-minus {
	line-height: 47px;
}

#site-footer {
	margin: 30px 0 0 0;
}

#site-footer {
	padding: 40px;
}

#site-footer h1 {
	background: #fcfcfc;
	border: 1px solid #ccc;
	border-style: none none solid none;
	font-size: 24px;
	font-weight: 300;
	margin: 0 0 7px 0;
	padding: 14px 40px;
	text-align: center;
}

#site-footer h2 {
	font-size: 24px;
	font-weight: 300;
	margin: 10px 0 0 0;
}

#site-footer h3 {
	font-size: 19px;
	font-weight: 300;
	margin: 15px 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.btn {
	background: #53b5aa;
	border: 1px solid #999;
	border-style: none none solid none;
	cursor: pointer;
	display: block;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	padding: 16px 0;
	width: 290px;
	text-align: center;

	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.btn:hover {
	color: #fff;
	background: #429188;
}

.type {
	background: #fcfcfc;
	font-size: 13px;
	padding: 10px 16px;
	left: 100%;
}

.type, .color {
	border: 1px solid #ccc;
	border-style: none none solid none;
	position: absolute;
}

.color {
	width: 40px;
	height: 40px;
	right: -40px;
}

.red {
	background: #cb5a5e;
}

.white {
	background: #ffffff;
}

.black {
	background: #000000;
}

.minused {
	margin: 0 50px 0 0 !important;
}

.added {
	margin: 0 -50px 0 0 !important;
}

/*cart page*/

/* * {
  box-sizing: border-box;
}
html,
body {
  display: flex;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  justify-content: center;
  align-items: center;
} */

.checkout-panel-page {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 1080px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}

.panel-body-page {
  padding: 45px 80px 0;
  flex: 1;
}

.title-page {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 40px;
  color: #2e2e2e;
}

.progress-bar1-page {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.step1-page {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: block;
  width: 25px;
  height: 25px;
  margin-bottom: 30px;
  border: 4px solid #fff;
  border-radius: 50%;
  background-color: #efefef;
}

.step1-page:after {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 22px;
  width: 225px;
  height: 6px;
  content: '';
  background-color: #efefef;
}

.step1-page:before {
  color: #2e2e2e;
  position: absolute;
  top: 40px;
}

.step1-page:last-child:after {
  content: none;
}

.step1-page.active {
  background-color: #64a19d;
}
.step1-page.active:after {
  background-color: #64a19d;
}
.step1-page.active:before {
  color: #64a19d;
}
.step1-page.active + .step {
  background-color: #64a19d;
}
.step1-page.active + .step:before {
  color: #64a19d;
}

.step1-page:nth-child(1):before {
  content: 'Escolha';
}
.step1-page:nth-child(2):before {
  right: -40px;
  content: 'Pagamento';
}
.step1-page:nth-child(3):before {
  right: -40px;
  content: 'Confirmação';
}
.step1-page:nth-child(4):before {
  right: 0;
  content: 'Sucesso';
}

.payment-method-page {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-bottom: 60px;
}

.method-page {
  display: absolute;
  width: 382px;
  height: 122px;
  padding-top: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: rgb(249, 249, 249);
  justify-content: center;
  align-items: center;
}

.card-logos-page {
  display: centered;
  width: 150px;
}

.radio-input-page {
  margin-top: 20px;
  padding: 20px 20px;
  align-items: center;
}

input[type='radio'] {
  display: inline-block;
}

.input-fields-page {
  display: flex;
  justify-content: space-between;
}

.input-fields-page label {
  display: block;
  margin-bottom: 10px;
  color: #5a5a5a;
}

.info-page {
  font-size: 12px;
  font-weight: 300;
  display: block;
  margin-top: 50px;
  opacity: .5;
  color: #2e2e2e;
}

div[class*='column'] {
  width: 382px;
}

input[type='text'],
input[type='password'] {
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding-right: 40px;
  padding-left: 16px;
  color: rgba(46, 46, 46, 1);
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  outline: none;
}

input[type='text']:focus,
input[type='password']:focus {
  border-color: #64a19d;
}

#validMonth {
  background: url(../assets/img/icon_calendar.png) no-repeat 95%;
  background-size: 15px auto;
}

#validYear{
  background: url(../assets/img/icon_calendar.png) no-repeat 95%;
  background-size: 15px auto;
}

#cardholder {
  background: url(../assets/img/icon_holder.png) no-repeat 95%;
  background-size: 25px auto;
}
#cardNumber {
  background: url(../assets/img/icon_card.png) no-repeat 95%;
  background-size: 25px auto;
}
#cardVerification {
  background: url(../assets/img/icon_cvv.png) no-repeat 95%;
  background-size: 25px auto;
}

::-webkit-input-placeholder  { color:rgb(35,35,35,0.5); }
input:-moz-placeholder { color:rgb(35,35,35,0.5); }
textarea:-moz-placeholder { color:rgb(35,35,35,0.5); }

.small-inputs-page {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.small-inputs-page-1 {
  display: flex;
  justify-content: space-between;
}

.small-inputs-page div {
  width: 182px;
}
.small-inputs-page-1 div {
  width: 182px;
}

.panel-footer-page {
  display: flex;
  width: 100%;
  height: 100px;
  padding-left: 36%;
  background-color: rgb(239, 239, 239);
  align-items: center;
}
